.divContacto {
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 20% auto;
    grid-template-areas: "header" "main" "main" "footer";
}
.footerContacto {
    grid-area: footer;
}
.mainContacto {
    grid-area: main;
} 
.formulario {
    width: 300px;
    height: 1200px;
    margin: auto;
    text-align: center;
    padding-top: 20px;
    
    p {
    font-size: 25px;
    color: $colorFuente;
    font-family: "Inter+Tight", sans-serif;
    padding-top: 20px;
    margin-bottom: 30px;
    }
    input {
    font-size: 15px;
    }
}