.divServicios {
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 20% auto;
    grid-template-areas: "header" "main" "main" "footer";
}
.mainServicios {
    grid-area: main;
}
.footerServicios {
    grid-area: footer;
}
.servicios li {
    list-style: circle;
    padding-top: 30px;
    color: $colorFuente;
    font-size: 30px;
    font-family: "inter+-Tight", sans-serif;
    text-align: left;
    margin-left: 200px;
    margin-top: 30px;
}
.fearFree {
    position: relative;
    margin-left: 50%;
    margin-top: -500px;
    margin-bottom: 300px;
}
.pagos {
    margin-top: 60px;
    text-align: center;
    color: $colorFuente;
    font-size: 20px;
    border: $colorFuente 1px solid;
}
main {
    background: #134E5E;
  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #71B280, #134E5E);
  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #71B280, #134E5E);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}